
/* Colores globales: las siguientes variables de color se utilizan en todo el sitio web. Actualizarlos aquí cambiará la combinación de colores de todo el sitio web */
:root { 
  --background-color: #222538;
  --default-color: #f34852; 
  --heading-color: #e0e5e9;
  --accent-color: #3b5d95;
  --contrast-color: #404d67; 
  --surface-color: #2b2e42;
  
  
}


 /* Estilo para el scroll suave */
html {
  scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# Stilos General Clases
--------------------------------------------------------------*/

body {
  font-family: "Raleway", sans-serif;
  background-color: var(--background-color);


}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
li{
  color: var(--heading-color);
  font-family: var(--heading-font);
}

.bg-nav{
  background-color: var(--background-color)
}
.code-color{
  color: var(--default-color);
}
.title-default{
  color: var(--default-color);
}

section, .section {
    scroll-margin-top: 80px;
    overflow: clip;
}






/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  
}

.social-links a {
  background-color:var(--contrast-color);
  color: #ffffff;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
  transition: 0.3s;
}

.social-links a:hover{
  background-color: var(--default-color);
}

/*--------------------------------------------------------------
# Servicios Section
--------------------------------------------------------------*/

.servcios{
  position: relative; 
  display: inline-block; 
  padding-bottom: 40px;
}

.servicios h2:after {
  content: '';
  position: absolute;
  display: block;
  width: 128px;
  height: 3px;
  background: var(--default-color);
  margin: auto;

}

.service-item{
  background-color: var(--surface-color);
  padding: 50px 30px;
  transition: all ease-in-out 0.3s;
  border-radius: 18px;
  height: 100%;
 
            
}
.service-item i{
  color: var(--default-color);
}

/*--------------------------------------------------------------
# Resumen Section
--------------------------------------------------------------*/

.cv-section {
  background: var(--surface-color);
  border-radius: 18px;
  padding: 40px;
  margin-bottom: 20px;
}
/*.cv-section h2 {
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
  margin-bottom: 20px;
}*/
.badge {
  margin-right: 5px;
  background-color: var(--accent-color);
}

.icons{
  display: flex;
  padding: .5rem 0;
  width: 120px;
  justify-content: space-between;
  font-size: 1.3rem;
  gap: 10px;
}






/* Mis trabajos */
#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}




.separator {
  border: none; /* Elimina el borde predeterminado */
  height: 4px; /* Grosor de la línea */
  background-color: white; /* Color de la línea */
  margin: 20px 0; /* Espaciado superior e inferior */
  width: 10%;
}
/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

}
